@import url('https://fonts.googleapis.com/css2?family=Rubik');

// Other base colours
$blue: hsl(246, 80%, 60%);
$softBlue: hsl(195, 74%, 62%);
$lightRed: hsl(348, 100%, 68%);
$limeGreen: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$softOrange: hsl(43, 84%, 65%);
$lightRed: hsl(15, 100%, 70%);

// Activity colours
$veryDarkBlue: hsl(226, 43%, 10%);
$darkBlue: hsl(235, 46%, 20%);
$desaturatedBlue: hsl(235, 45%, 61%);
$paleBlue: hsl(236, 100%, 87%);

// Fonts
$rubiks: 'Rubik', sans-serif;

// Font Sizes
$stdFontSize: 18px;
$headingFontSize: 20px;

// Font Weights
$lightFontWeight: 300;
$regularFontWeight: 400;
$boldFontWeight: 500;
