<div class="container">
    <div class="user-heading">
        <div class="user-heading-content">Image goes here</div>
        <div class="user-heading-content">
            <h1 class="report-for-heading">Report for</h1>
            <h1 class="user-name-heading">{{ user }}</h1>
        </div>
    </div>
    <div class="profile-grid">
    <div class="time-period-selectors">
        <div class="time-period selected">Daily</div>
        <div class="time-period">Weekly</div>
        <div class="time-period">Monthly</div>
    </div>
</div>